@import '../../variables.scss';

.technologies {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    @media (min-width: $x-small) {
        flex-flow: row nowrap;
    }

    @media (min-width: $small) {
        flex-flow: column nowrap;
    }

    @media (min-width: $x-large) {
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }

    & h3 {
        text-align: center;
    }

    & .backend {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        flex-shrink: 0; //safari specific fix

        @media (min-width: $x-small) {
            height: 100%;
            width: auto;
            justify-content: flex-start;
            flex-shrink: 1;
        }

        @media (min-width: $small) {
            height: auto;
            width: 100%;
            justify-content: center;
            flex-shrink: 0; //safari specific fix
        }

        @media (min-width: $x-large) {
            height: 100%;
            width: auto;
            justify-content: center;
            flex-shrink: 1;
        }
    }
    
    & .frontend {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        flex-shrink: 0; //safari specific fix

        @media (min-width: $x-small) {
            height: 100%;
            width: auto;
            justify-content: flex-start;
            flex-shrink: 1;
        }

        @media (min-width: $small) {
            height: auto;
            width: 100%;
            justify-content: center;
            flex-shrink: 0; //safari specific fix
        }

        @media (min-width: $x-large) {
            height: 100%;
            width: auto;
            justify-content: center;
            flex-shrink: 1;
        }
    }
}