.technologies {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;

    & .backend {
        width: 100%;
    }
    
    & .frontend {
        width: 100%;
    }
}