@import '../../../variables.scss';

.main-info {
    display: flex;
    flex-flow: column nowrap;
    text-align: justify;
    justify-content: center;
    padding: .5rem;
    height: 100%;

    & header {
        width: 100%;
        text-align: center;
        color: $accent;
        filter: drop-shadow(0px 1px 2px $primary);
        margin-bottom: 3rem;

        & h1 {
            margin: 0;
        }

        & h3 {
            margin: .15rem;
        }
    }

    & h3 {
        text-align: center;
    }

    @media (min-width: $sm) {
        width: 70%;
    }
}