// Main stylesheet
// Besides App component styles will contain styles relating to top level blocks (html, body, etc.)
@import '../../../variables.scss';

html, body, #app, .wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    font-family: $font;
    background-color: $secondary;
}

.wrapper {
    padding-bottom: 8rem;

    & .main {
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
}

.transition-group {
    height: 100%;
    width: 100%;
}

.fade-enter {
    opacity: 0;
    z-index: 1;

    &.fade-enter-active {
        opacity: 1;
        transition: opacity .25s ease-in;
    }
}

.fade-exit {
    display: none;

    & * {
        display: none;
    }
}