// Main stylesheet
// Besides App component styles will contain styles relating to top level blocks (html, body, etc.)
@import '../../../variables.scss';

html, body, #app, .wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    font-family: $font;
    background-color: $secondary;
}

.wrapper {
    padding-bottom: 8rem;

    & .main {
        height: 100%;
        width: 100%;
    }
}