@import '../../../variables.scss';

.navbar-link {
    margin: .25rem;
    flex: 1 0 15%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    & a {
        text-decoration: none;
        text-align: center;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;

        transition: all .25s ease-in-out;

        &:link, &:visited {
            color: $secondary;
        }

        &:active, &:hover {
            color: $secondary-dark;
        }

        & .icon {
            display: inline-block;
            width: 100%;
        }
    }

    &.selected {
        a {
            &:link, &:visited {
                color: $accent;
            }

            &:active, &:hover {
                color: $accent-dark;
            }
        }
    }

    @media (min-width: $md) {
        font-size: 1.15rem;
    }
}