@import '../../../variables.scss';

.navbar-link {
    margin: .25rem;
    flex: 1 0 15%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    & a {
        text-decoration: none;
        text-align: center;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;

        &:link, &:visited {
            color: $secondary;
        }

        &:active, &:hover {
            color: $secondary-dark;
        }

        & .icon {
            display: inline-block;
            width: 100%;
        }
    }
}