@import '../../variables.scss';

.other {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    @media (min-width: $x-small) {
        flex-flow: row nowrap;
    }

    @media (min-width: $small) {
        flex-flow: column nowrap;
    }

    @media (min-width: $x-large) {
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }

    & h3 {
        text-align: center;
    }

    & .languages {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        @media (min-width: $x-small) {
            height: 100%;
            width: 50%;
            justify-content: flex-start;
        }

        @media (min-width: $small) {
            height: auto;
            width: 100%;
            justify-content: center;
        }

        @media (min-width: $x-large) {
            height: 100%;
            width: auto;
            justify-content: center;
        }
    }

    & .certificates {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        @media (min-width: $x-small) {
            height: 100%;
            width: 50%;
            justify-content: flex-start;
        }

        @media (min-width: $small) {
            height: auto;
            width: 100%;
            justify-content: center;
        }

        @media (min-width: $x-large) {
            height: 100%;
            width: 50%;
            justify-content: center;
        }
    }
}