.layout {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;

  &__children {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;

    width: 100%;
    max-width: 1200px;
    padding: 2rem;
  }
}
