@import '../../variables.scss';

.navbar {
    order: 1;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 3rem;

    & .nav {
        position: fixed;
        top: -100%;
        width: 80%;
        display: flex;
        flex-flow: column nowrap;
        transition: all .25s ease-in-out;
    }

    & .burger {
        position: fixed;
        top: 0;
        right: 0;
    }

    & a {
        display: inline-block;
        width: 100%;
        text-decoration: none;
        color: $primary-color;
        font-size: 1.25rem;
        padding: .15rem;

        &:hover, &:active {
            color: black;
        }
    }

    @media (min-width: $small) {
        width: 40%;
        position: fixed;
        top: 0;
        right: 0;

        & a {
            width: 100%;
        }

        & .nav {
            position: absolute;
            right: 0;
            top: -400%;
        }
    }

    @media (min-width: $large) {
        & a {
            width: 50%;
            text-align: center;
        }

        & .nav {
            flex-flow: row wrap;
        }

        & .burger {
            display: none;
        }

        & .nav {
            top: 0;
            width: 100%;
        }
    }

    &.active {
        height: 5rem;

        & .nav {
            top: 0;

            @media (min-width: $small) {
            }
        }
    }
}