@import '../../../variables.scss';

.other {
    height: 100%;
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    margin: .5rem;

    @media (min-width: $sm) {
        width: 70%;
    }

    @media (min-width: $lg) {
        width: 40%;
    }
}