@import 'utils/variables.scss';

.projects {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  row-gap: 1rem;

  width: 100%;
  min-height: 100vh;
}
