@import '../../../variables.scss';

.projects {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100%;
    overflow-y: scroll;

    @media (min-width: $lg) {
        flex-flow: row wrap;
        justify-content: center;
    }
}