@import 'utils/variables.scss';

.link-button {
  display: inline-block;

  padding: 0.75rem;
  border: 1px solid $accent;
  border-radius: 0.5rem;

  font-size: 1rem;
  font-weight: 400;
  color: $accent;
  text-decoration: none;

  transition: background-color ease-in-out 0.25s;

  @media screen and (min-width: $md) {
    padding: 1rem;

    font-size: 1.25rem;
  }

  @media screen and (min-width: $lg) {
    padding: 1.25rem;

    font-size: 1.5rem;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: scale-color($accent, $alpha: -80%);
  }

  &--small {
    padding: 0.45rem;

    font-size: 0.85rem;

    @media screen and (min-width: $sm) {
      padding: 0.75rem;

      font-size: 1rem;
    }

    @media screen and (min-width: $lg) {
      padding: 0.85rem;

      font-size: 1.25rem;
    }
  }
}
