@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

$font: 'Roboto Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

$primary-color: #333333;
$secondary-color: #fffaff;