@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

$primary: #333333;
$primary-light: #696969;
$secondary: #fffaff;
$secondary-dark: #e6e6e6;

$font: 'Roboto Slab', serif;